<launch>

  <arg name="use_gui" default="True" />
  <arg name="model" default="$(find wheelbot_description)/urdf/wheelbot.urdf.xacro" />
  <arg name="rviz_config" default="$(find wheelbot_description)/rviz/wheelbot.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <!-- control joints using GUI tool -->
  <param name="use_gui" value="$(arg use_gui)" />

  <!-- publish joint states from URDF -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- convert joint states to TF for Rviz -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

	<!-- show in Rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" />

</launch>
