<?xml version="1.0"?>
<robot name="common" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="custom_inertia" params="mass ixx:=1 iyy:=1 izz:=1">
    <inertial>
      <mass value="${mass}" />
      <inertia ixx="${ixx}" ixy="0"      ixz="0" 
                            iyy="${iyy}" iyz="0"
                                         izz="${izz}" />
    </inertial>
  </xacro:macro>

  <!-- See "List of moments of inertia" in Wikipedia -->
  <xacro:macro name="cylinder_inertia" params="mass radius length">
    <xacro:custom_inertia mass="${mass}" 
      ixx="${1/12 * mass * (3 * pow(radius, 2) + pow(length, 2))}" 
      iyy="${1/12 * mass * (3 * pow(radius, 2) + pow(length, 2))}" 
      izz="${1/2 * mass * pow(radius, 2)}" />
  </xacro:macro>

  <xacro:macro name="cuboid_inertia" params="mass width height depth">
    <xacro:custom_inertia mass="${mass}" 
          ixx="${1/12 * mass * (pow(width, 2) + pow(depth, 2))}" 
          iyy="${1/12 * mass * (pow(width, 2) + pow(depth, 2))}" 
          izz="${1/12 * mass * (pow(width, 2) + pow(height, 2))}" />
  </xacro:macro>
</robot>